# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Build directories
build/
client/build/
dist/

# Environment files
.env
.env.*  # For files like .env.development or .env.production

# OS/Editor files
.DS_Store
.vscode/
.idea/
